
.bs{
  background-image: url("./images/Restaurant.jpg");
  background-size: 400px 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* Menulist */
